.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: max-content;
  border: none;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0;
  cursor: pointer;
  transition: all 200ms ease;
  text-transform: none;
  text-decoration: none;
  line-height: 1em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

.button:active {
  box-shadow: var(--shadow-1);
}

.button:disabled {
  pointer-events: none;
}

.prefixIcon {
  position: absolute;
  left: var(--spacing-s);
  display: flex;
  align-self: center;
  fill: var(--color-neutral-600);
}

.circular .prefixIcon,
.circularMicro .prefixIcon,
.micro .prefixIcon {
  left: auto;
}

.standard {
  height: var(--size-standard-button-height);
  padding: 0 calc(var(--spacing-xl) + var(--spacing-m));
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-pill);
}

.inline {
  height: var(--size-inline-button-height);
  padding: 0 var(--spacing-sm);
  border-radius: var(--border-radius-pill);
  font-size: var(--font-size-s);
}

.micro {
  height: var(--size-micro-button-height);
  padding: 0 var(--spacing-s);
  border-radius: var(--border-radius-pill);
  font-size: var(--font-size-xs);
}

.extended {
  height: var(--size-extended-button-height);
  padding: 0 var(--spacing-m) 0 calc(var(--spacing-l) + var(--spacing-sm));
  border-radius: var(--border-radius-pill);
  font-size: var(--font-size-s);
}

.extendedMicro {
  height: var(--size-extended-micro-button-height);
  padding: 0 var(--spacing-sm) 0 calc(var(--spacing-l) + var(--spacing-s));
  border-radius: var(--border-radius-pill);
  font-size: var(--font-size-xs);
}

.circularContainer {
  cursor: pointer;
  outline: none;
  max-width: calc(var(--size-circular-button) + (var(--spacing-l) * 2));
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circular,
.circularMicro {
  border-radius: var(--border-radius-pill);
  height: var(--size-circular-button);
  width: var(--size-circular-button);
  justify-content: center;
  display: flex;
  position: relative;
  text-align: center;
  flex-direction: column;
  padding: 0;
}

.circularMicro {
  height: var(--size-circular-micro-button);
  width: var(--size-circular-micro-button);
}

.circularLabel {
  color: var(--color-neutral-700);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  margin-top: var(--spacing-xxs);
  line-height: 1.35em;
  white-space: normal;
  width: 100%;
  text-transform: lowercase;
}

.primary {
  color: var(--color-primary-500-contrast);
  background: var(--color-primary-500);
}

.primary.bordered {
  border: 1px solid var(--color-primary-500-contrast);
}

.primary .icon {
  fill: var(--color-primary-500-contrast);
}

.primaryGradient .icon {
  fill: var(--color-primary-500-contrast);
  left: var(--spacing-xxs);
}

.primaryGradient {
  color: var(--color-primary-500-contrast);
  background: var(--color-gradient-b);
}

.primaryGradient.bordered {
  border: 1px solid var(--color-primary-500-contrast);
}

.secondary {
  color: var(--color-neutral-800);
  background: var(--color-neutral-100);
}

.secondary.bordered {
  border: 1px solid var(--color-neutral-800);
}

.secondary .icon {
  fill: var(--color-neutral-800);
}

.tertiary {
  color: var(--color-primary-500);
  background: var(--color-white);
}

.tertiary.bordered {
  border: 1px solid var(--color-primary-500);
}

.tertiary .icon {
  fill: var(--color-primary-500);
}

.negative {
  color: var(--color-danger-500);
  background: var(--color-white);
}

.negative.bordered {
  border: 1px solid var(--color-danger-500);
}

.negative .icon {
  fill: var(--color-danger-500);
}

/* hover and focus status */

.primary:hover,
.primary:focus {
  color: var(--color-primary-400-contrast);
  border-color: var(--color-primary-400-contrast);
  background: var(--color-primary-400);
}

.primaryGradient:hover,
.primaryGradient:focus {
  color: var(--color-primary-400-contrast);
  color: border-var(--color-primary-400-contrast);
  background: var(--color-gradient-b);
}

.secondary:hover,
.secondary:focus {
  color: var(--color-neutral-900);
  border-color: var(--color-neutral-900);
  background: var(--color-neutral-50);
}

.tertiary:hover,
.tertiary:focus {
  color: var(--color-primary-500);
  border-color: var(--color-primary-500);
  background: var(--color-neutral-50);
}

.negative:hover,
.negative:focus {
  color: var(--color-danger-500);
  border-color: var(--color-danger-500);
  background: var(--color-neutral-50);
}

/* active status */

.primary:active {
  color: var(--color-primary-600-contrast);
  background: var(--color-primary-600);
}

.primaryGradient:active {
  color: var(--color-primary-600-contrast);
  background: var(--color-primary-600);
}

.secondary:active {
  color: var(--color-neutral-800);
  background: var(--color-neutral-200);
}

.tertiary:active {
  color: var(--color-primary-500);
  background: var(--color-neutral-100);
}

.negative:active {
  color: var(--color-danger-500);
  background: var(--color-neutral-100);
}

/* disable status */

.primary:disabled {
  color: var(--color-neutral-300);
  background: var(--color-neutral-50);
}

.primaryGradient:disabled {
  color: var(--color-neutral-300);
  background: var(--color-neutral-50);
}

.secondary:disabled {
  color: var(--color-neutral-300);
  background: var(--color-neutral-50);
}

.tertiary:disabled {
  color: var(--color-neutral-300);
  background: var(--color-neutral-50);
}

.negative:disabled {
  color: var(--color-neutral-300);
  background: var(--color-neutral-50);
}

.primary:disabled .icon {
  fill: var(--color-neutral-300);
}

.primaryGradient:disabled .icon {
  fill: var(--color-neutral-300);
}

.secondary:disabled .icon {
  fill: var(--color-neutral-300);
}

.tertiary:disabled .icon {
  fill: var(--color-neutral-300);
}

.negative:disabled .icon {
  fill: var(--color-neutral-300);
}
